###################
# Compiled source #
###################
*.pyc
*.exe
*.o
*.so

###################
# Temporary files #
###################
*.swp
*.swo

####################
# Cfg output files #
####################
flowCorr_data.root
